<div class="main container-fluid">
  <div class="row">
    <div class="ingredients col-md-5 col-border">
      <h1 class="text-center">Ingredients</h1>
      <form class="text-center">
        <input type="text" class="" ng-model="ingredientSearchTerm" placeholder="I need...">
        <button class="btn btn-success" type="submit" ng-click="addIngredient()">Add Ingredient</button>
      </form>
      <ul class="list-group">
        <li></li>
      </ul>
    </div>

    <div class="people col-md-5 col-md-offset-2 col-border">
      <h1 class="text-center">People</h1>
      <form class="text-center">
        <input type="text" class="" ng-model="friendSearchTerm" ng-change="findPerson()" ng-model-options="{ updateOn: 'defaultBlur', debounce: { 'default': 500, 'blur': 0 } }" placeholder="Add a friend">
        <button class="btn btn-success" type="submit" ng-click="findPerson()">Find Friend</button>
      </form>
      <ul class="people-list list-group">
        <li ng-repeat="person in people">
          <img class="avatar img-circle" ng-src="{{ person.image }}">
          {{ person.name }}
        </li>
      </ul>
    </div>
  </div>
</div>

<button class="btn btn-success btn-large center-block lets-go-button">Let's go</button>

<div class="container-fluid">
  <div class="row">
    <img class="img-responsive center-block" src="images/map.jpeg">
  </div>
</div>