<div class="main container-fluid">
  <div class="row">
    <div class="ingredients col-md-5 col-border">
      <h1 class="text-center">Ingredients</h1>
      <form class="form-inline text-center">
        <input type="text" class="input_box" ng-model="ingredientSearchTerm" placeholder="I need...">
        <button class="btn btn-success" type="submit" ng-click="findShop()">Add Ingredient</button>
      </form>
      <ul class="ingredients-list list-group">
        <li ng-repeat="shop in shops">
          <a class="btn" ng-click="addIngredientsAndShopToList({{ shop }})"><img class="avatar img-circle" ng-src="{{ shop.photo }}"></a>
          {{ shop.name }} - {{ ingredientSearchTerm }}
        </li>
      </ul>

      <h3 class="text-center">Shopping List</h3>
      <ul class="ingredients-list list-group">
        <li ng-repeat="item in ingredients">
          <img class="avatar img-circle" ng-src="{{ item.shop.photo }}">
          {{item.shop.name }} - {{ item.ingredient }}
        </li>
      </ul>

    </div>

    <div class="people col-md-5 col-md-offset-2 col-border">
      <h1 class="text-center">People</h1>
      <form class="form-inline text-center">
        <input type="text" class="input_box" ng-model="friendSearchTerm" ng-change="findPerson()" ng-model-options="{ updateOn: 'defaultBlur', debounce: { 'default': 500, 'blur': 0 } }" placeholder="Add a friend">
        <button class="btn btn-success" type="submit" ng-click="findPerson()">Find Friend</button>
      </form>
      <ul class="people-list list-group">
        <li ng-repeat="person in people">
          <a ng-click="addPersonToList({{ person }})"><img class="avatar img-circle" ng-src="{{ person.image }}"></a>
          {{ person.name }}
        </li>
      </ul>

      <h3 class="text-center">Attending</h3>
      <ul class="people-list list-group">
      <li ng-repeat="guest in partyGuests">
        <img class="avatar img-circle" ng-src="{{ guest.image }}">
          {{ guest.name }}
      </li>
      </ul>
    </div>
  </div>
</div>

<button ng-click="assignItems()" class="btn btn-success btn-large center-block lets-go-button" ng-click="sendSms()">Let's go</button>

<div class="message text-center"><h4>Messages sent!</h4></div>

<div class="center-block" id="map"></div>
